<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Private Club</h5>
        <nav class="my-2 my-md-0 mr-md-3">
        <ul>
            <% if user_signed_in? %>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                <%= link_to "Page Club", page_club_show_path %>
            <% else %>
                <%= link_to "Sign In", new_user_session_path %>
                <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
        </ul> 
        </nav>      
</div>